@model SMN.Services.Tokens.ProductToken
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Product</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <section id="productForm">
            @using (Html.BeginForm("Create", "Products", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.Email)
                <div class="form-group">
                    @Html.LabelFor(m => m.SKU, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.SKU, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SKU, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "4" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Images, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="row">
                            @for (int i = 0; i < 6; i++)
                            {
                                <div class="col-md-2">
                                    <div class="img-responsive img-thumbnail">
                                        Click to add image
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MSRP, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.MSRP, new { @class = "form-control", rows = "4" })
                        @Html.ValidationMessageFor(m => m.MSRP, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(m => m.MinPrice, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.MinPrice, new { @class = "form-control", rows = "4" })
                        @Html.ValidationMessageFor(m => m.MinPrice, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ItemsAvailable, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.ItemsAvailable, new { @class = "form-control", rows = "4" })
                        @Html.ValidationMessageFor(m => m.ItemsAvailable, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-right">
                        <button type="submit" class="btn btn-success">Create <i class="ti-angle-right"></i></button>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}