@model IEnumerable<SMN.Services.Tokens.ProductToken>
@{
    ViewBag.Title = " Products Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section fullwidth_top
{
    <div class="toolbar">
        <div class="container">
            <i class="ti-pencil-alt"></i> <a href="@Url.Action("Create", "Products", new { Area = "Admin" })">Add Product</a>
        </div>
    </div>
}

<h2>Products List <small>Use this page to manage your products list</small></h2>
<hr />
@if (Model.Count() == 0)
{
    <div class="text-center">You have no products in the list. <a href="@Url.Action("Create", "Products", new { Area = "Admin" })">Add a new one.</a></div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th style="width: 15%;"></th>
                <th>Name</th>
                <th>MSRP</th>
                <th>Minimum Price</th>
                <th>Items Available</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="position: relative;">
                        @if (item.Images == null || item.Images.Length == 0)
                        {
                            <img class="img-responsive" src="~/Content/Images/no_image.jpg" />
                        }
                        else
                        {
                            <img class="img-responsive" src="@item.Images[0]" />
                        }
                        @if (item.CurrentSale != null)
                        {
                            <span class="label label-danger sale-in-progress">Sale in progress</span>
                        }
                    </td>
                    <td>
                        @if (item.CurrentSale == null)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-warning pull-right" });
                            <span class="pull-right">&nbsp;</span>
                            @Html.RouteLink("View on Site", "SaleDetails", new { id = item.ID }, new { target = "_blank", @class = "btn btn-sm btn-info pull-right" });
                            @item.Name
                            <br /><a href="@Url.Action("LaunchSale", "Products", new { area = "Admin", id = item.ID })" class="btn btn-success">Launch Sale</a>
                        }
                        else
                        {
                            @item.Name
                        }
                    </td>
                    <td>@string.Format("{0:c}", item.MSRP)</td>
                    <td>@string.Format("{0:c}", item.MinPrice)</td>
                    <td>@item.ItemsAvailable</td>
                </tr>
            }
        </tbody>
    </table>
}
