@model IEnumerable<SMN.Services.Tokens.ProductToken>
@{
    ViewBag.Title = " Products Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products List <small>Use this page to manage your products list</small></h2>
<hr />
@if (Model.Count() == 0)
{
    <div class="text-center">You have no products in the list. <a href="@Url.Action("Create", "Products", new { Area = "Admin" })">Add a new one.</a></div> 
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th style="width: 15%;"></th>
                <th>Name</th>
                <th>MSRP</th>
                <th>Minimum Price</th>
                <th>Items Available</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="img-responsive" src="@item.Images[0]" />
                    </td>
                    <td>@Html.ActionLink(item.Name, "Edit")
                    @if (item.CurrentSale == null)
                    {
                        <br /><a href="@Url.Action("LaunchSale", "Products", new { area = "Admin", id = item.ID })" class="btn btn-success">Launch Sale</a>
                    }</td>   
                    <td>@string.Format("{0:c}", item.MSRP)</td>
                    <td>@string.Format("{0:c}", item.MinPrice)</td>
                    <td>@item.ItemsAvailable</td>
                </tr>
            }
        </tbody>
    </table> 
}
