<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-4 footer-brand">Snap Me Now</div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <a href="@Url.Action("HowItWorks", "Home")">How does it work?</a><br />
                <a href="@Url.Action("FAQ", "Home")">FAQ</a><br />
                <a href="@Url.Action("About", "Home")">About us</a><br />
                <a href="@Url.Action("Contact", "Home")">Contact us</a>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs"></div>
            <div class="col-md-3 col-sm-4 col-xs-4">
            <p class="pull-right social-networks">
                <a><i class="ti-facebook"></i></a><a><i class="ti-twitter-alt"></i></a><a><i class="ti-google"></i></a>
            </p>
            <p class="pull-right">&copy; @DateTime.Now.Year - @System.Configuration.ConfigurationManager.AppSettings["App:Name"]</p></div>
        </div>
    </div>
</footer>

