<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@System.Configuration.ConfigurationManager.AppSettings["App:Name"] - @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <link rel="shortcut icon" href="~/Content/Images/favicon.png" type="image/png" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Fira+Sans:700italic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="overflow-y: hidden;">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=472333879576868&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div style="min-height: 100%; position: relative;">
        @Html.Partial("_Navbar")
        <div>
            @RenderSection("fullwidth_top", false)
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            setTimeout(function () { $("body").css("overflow-y", "auto") }, 1000);
        });
    </script>
</body>
</html>
