@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Manage", "Account", new { Area = "" })"><i class="ti-user"></i> Account Settings</a></li>
                    <li><a href="@Url.Action("History", "Account", new { Area = "" })"><i class="ti-package"></i> Snap History</a></li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Retailer"))
                    {
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "Home", new { Area = "Admin" })"><i class="ti-settings"></i> Administration Area</a></li>
                    }
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { Area = "", ReturnUrl = Request.Url.AbsolutePath }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
