<div class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand"><img src="~/Content/Images/favicon.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("About", "Home", new { area = "" })">About SnapMe</a></li>
                <li><a href="@Url.Action("HowItworks", "Home", new { area = "" })">What's Snapping</a></li>
                <li><a href="@Url.Action("Index", "Sales", new { area = "" })">Snapping Soon</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
