@using SMN.Web.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h2>Preregister now</h2>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.</p>
        </div>
    }
    else
    {
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-@p.Caption.ToLowerInvariant()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="ti-@p.Caption.ToLowerInvariant()"></i> @p.AuthenticationType</button>
                }
                </p>
            </div>
        }
    }
}
<h3>and we will send you an email once we will go live</h3>
@*<div class="row">
    <div class="col-md-2"><img class="img-responsive" src="~/Content/Images/beats.jpg" /></div>
    <div class="col-md-2"><img class="img-responsive" src="~/Content/Images/Bose.png" /></div>
    <div class="col-md-2"><img class="img-responsive" src="" /></div>
    <div class="col-md-2"><img class="img-responsive" src="" /></div>
    <div class="col-md-2"><img class="img-responsive" src="" /></div>
    <div class="col-md-2"><img class="img-responsive" src="" /></div>
</div>*@