@model SMN.Web.Models.BillingModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>3. Checkout - Billing Details<small class="pull-right">Step 3 of 4</small></h2>
<hr />
<div>
    <form action="@Url.RouteUrl("Checkout", new { id = Model.ID })" method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <input type="hidden" name="step" value="@Model.Step" />
        <div class="form-group">
            <label class="col-md-2 control-label">&nbsp;</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="dupAddress" onclick="setAddress()">
                    Same as Shipping Address
                </label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Address.Name, new { @class = "form-control", placeholder = "John Smith" })
                @Html.ValidationMessageFor(m => m.Address.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.AddressLine1, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Address.AddressLine1, new { @class = "form-control", placeholder = "125 Riseley St, Booragoon" })
                @Html.ValidationMessageFor(m => m.Address.AddressLine1, "", new { @class = "text-danger" })
                <br />
                @Html.TextBoxFor(m => m.Address.AddressLine2, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.State, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.Address.State, SMN.Web.Models.AddressModel.States(), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address.State, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.Address.ZipCode, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Address.ZipCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address.ZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" name="action" value="prev" class="cancel btn btn-success pull-left"><i class="ti-angle-left"></i> Back</button>
                <button type="submit" name="action" value="next" class="btn btn-success pull-right">Next <i class="ti-angle-right"></i></button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var shippingAddress = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ShippingAddress));
        function setAddress(){
            if ($("#dupAddress").prop("checked")) {
                $("#Address_Name").val(shippingAddress.Name);
                $("#Address_AddressLine1").val(shippingAddress.AddressLine1);
                $("#Address_AddressLine2").val(shippingAddress.AddressLine2);
                $("#Address_State").val(shippingAddress.State);
                $("#Address_ZipCode").val(shippingAddress.ZipCode);
            } else {
                $("#Address_Name").val("");
                $("#Address_AddressLine1").val("");
                $("#Address_AddressLine2").val("");
                $("#Address_State").val("");
                $("#Address_ZipCode").val("");
            }
        }
    </script>
}