@model SMN.Services.Tokens.ProductToken
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section fullwidth_top
{
    <div class="toolbar">
        <div class="container">
            <a href="@Url.Action("Index", "Sales")"><i class="ti-angle-left"></i> Back to Sales List</a>
        </div>
    </div>
}

<div class="row sale-details">
    <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item" style="border: 1px solid #DDD;overflow: hidden;max-height: 100%;">
                <div id="images-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Images.Length; i++)
                        {
                            <li data-target="#images-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Images.Length; i++)
                        {
                            <div class="item @(i == 0 ? "active" : "")">
                                <img src="@Model.Images[i]" />
                            </div>
                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#images-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#images-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="more-images row">
            @foreach (var item in Model.Images)
            {
                <div class="col-sm-2">
                    <div class="img-thumbnail" style="background-image: url(@item)"></div>
                </div>
            }
        </div>
        <div class="description row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Description</strong></div>
                    <div class="panel-body">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>@Model.Name</h2>
        <div class="msrp">
            Retail Price: <span style="text-decoration: line-through">@string.Format("{0:c}", Model.MSRP)</span>
            <div class="discount">Current Discount: @Math.Round(Model.CurrentSale.Discount, 2)%</div>
        </div>
        <p>
            <a class="btn btn-lg btn-success btn-block btn-snapme"><i class="ti-bolt"></i> Snap Me Now @@ @string.Format("{0:c}", Model.CurrentSale.CurrentPrice)</a>
        </p>
        @if (Model.CurrentSale.Snaps == 0)
        {
            <p class="text-center">
                No Snaps yet. Be the first to Snap and get additional 5% discount at Checkout!
            </p>
        }
        else
        { 
            <p class="text-center">
                @Model.CurrentSale.Snaps @(Model.CurrentSale.Snaps == 1 ? "item was" : "items were") snapped!
            </p>
        }
        <p>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="box-count" data-width="100px;"></div>
        </p>
    </div>
</div>
