@model IEnumerable<SMN.Services.Tokens.ProductToken>
@{
    ViewBag.Title = " Current Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 active-sale" data-id="@item.ID">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="sale-title">@item.Name</div>
                    @*<table class="table">
                        <tbody>
                            <tr>
                                <td class="sale-title"></td>
                                <td class="sale-end-date">@item.CurrentSale.EndsAt.ToString("MMM dd, HH:mm")</td>
                            </tr>
                        </tbody>
                    </table>*@
                    <div class="embed-responsive embed-responsive-16by9">
                        <img src="@item.Images[0]" class="img-responsive" />
                        <a class="btn btn-lg btn-warning btn-snapme" data-id="@item.ID" href="@Url.Action("Details", new { id = item.ID })"> Enter Sale (@string.Format("{0:c}", item.CurrentSale.CurrentPrice))<i class="ti-angle-right"></i></a>
                    </div>
                    @*<div class="hidden-xs more-images">
                        <div class="row">
                            @for (int i = 1; i < Math.Min(5, item.Images.Length); i++)
                            {
                                <div class="col-sm-3">
                                    <div class="img-thumbnail" style="background-image: url(@item.Images[i])"></div>
                                </div>
                            }
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/sales.js"></script>
    <script type="text/javascript">
        updatePrices(5000);
    </script>
}