
@{
    ViewBag.Title = "Snapping Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 active-sale" data-id="@item.ID">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="sale-title">@item.Name</div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <img src="@item.Images[0]" class="img-responsive" />
                            <a class="btn btn-lg btn-warning btn-snapme" data-id="@item.ID" href="@Url.Action("Details", new { id = item.ID })"> Details <i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        updatePrices(5000);
        $(window).on("resize", resize);

        function resize() {
            $(".embed-responsive.embed-responsive-16by9").each(function (i, item) {
                $("img", this).height($(this).height() + 'px');

            });
        }
    </script>
}